[submodule "vendor/keychain"]
	path = vendor/keychain
	url = https://github.com/guicocoa/sskeychain
[submodule "vendor/guicocoa-common-code"]
	path = vendor/guicocoa-common-code
	url = https://github.com/guicocoa/common-code-ios.git
[submodule "vendor/Sparklines"]
	path = vendor/Sparklines
	url = https://github.com/abelsey/Sparklines.git
[submodule "vendor/oauth"]
	path = vendor/oauth
	url = https://github.com/guicocoa/cocoa-oauth.git
