[submodule "vendor/activityhud"]
	path = vendor/activityhud
	url = https://github.com/calebmdavenport/activityhud.git
[submodule "vendor/KissXML2"]
	path = vendor/KissXML2
	url = https://github.com/robbiehanson/KissXML.git
[submodule "vendor/managedobject"]
	path = vendor/managedobject
	url = https://github.com/calebmdavenport/managedobject.git
[submodule "vendor/blockskit"]
	path = vendor/blockskit
	url = https://github.com/calebmdavenport/blockskit.git
[submodule "vendor/encrypted-core-data"]
	path = vendor/encrypted-core-data
	url = https://github.com/calebmdavenport/encrypted-core-data.git
[submodule "vendor/SecureFoundation"]
	path = vendor/SecureFoundation
	url = https://github.com/project-imas/securefoundation.git
