[submodule "vendor/guicocoa-common-code"]
	path = vendor/guicocoa-common-code
	url = https://github.com/guicocoa/common-code-ios.git
[submodule "vendor/sskeychain"]
	path = vendor/sskeychain
	url = https://github.com/guicocoa/sskeychain.git
[submodule "vendor/activityhud"]
	path = vendor/activityhud
	url = https://github.com/calebmdavenport/activityhud.git
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/sqlcipher/openssl-xcode.git
[submodule "vendor/sqlcipher"]
	path = vendor/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher.git
[submodule "vendor/KissXML2"]
	path = vendor/KissXML2
	url = https://github.com/robbiehanson/KissXML.git
[submodule "vendor/managedobject"]
	path = vendor/managedobject
	url = https://github.com/calebmdavenport/managedobject.git
[submodule "vendor/blockskit"]
	path = vendor/blockskit
	url = https://github.com/calebmdavenport/blockskit.git
