
<!doctype html>
<html lang="en" ng-app="Timeline"  ng-controller="DayListCtrl">
	<head>
		<title ng-bind-template="{{query}}"></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="css/jquery-ui-1.8.16.custom.css" type="text/css"/> 
		<link href="http://addyosmani.github.com/jquery-ui-bootstrap/bootstrap/bootstrap.css" rel="stylesheet">
		<script type="text/javascript" src="lib/jquery/jquery-1.8.1.js"></script>
	    <script type="text/javascript" src="lib/jquery/jquery.sparkline2.0.js">
	    </script>
	    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
	    <script src="lib/angular/angular.js"></script>
	    <script src="lib/angularUI/animate.js"></script>
	    <script src="js/app.js"></script>
	    <script src="js/controllers.js"></script>

	    <!-- jQuery Mobile -->
	    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
			<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
			<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>		
		<link rel="stylesheet" href="css/master.css" type="text/css"/> 
		<script>
			var Timeline = angular.module('Timeline', []);

			Timeline.directive('sparkline', function () {
			  return {
			    restrict: 'E', // the directive restricts it to an element level
			    link: function postLink(scope, iElement, attrs) {
			      scope.$watch('vitals', function (newVal, oldVal) {
			      	if (newVal != null) {
						$(iElement).sparkline('html', { 
									type: 'line',
							    lineColor: '#000000',
							    spotColor: '#000000',
							    minSpotColor: '#d60D26',
							    maxSpotColor: '#d60D26',
							    highlightSpotColor: '#048A82',
    							highlightLineColor: '#d60D26',
							    fillColor: false,
							   	lineWidth: 3,
    							spotRadius: 5,
							    width: 460,
							    height: 75,
							    drawNormalOnTop: false
								});
							}
			      });
			    }
			  };
			});
		</script>
	</head>
	<body >
		<section class="well">
			<article>
				<div class="row titles">
					<h2 class="span3">Regiment</h2>
					<span class="span1"><a class="btn" onclick="$('#newReg').show()"><i class="icon-plus"></i></a></span>
					<h3 class="span6">Taken</h3>
					<h3 class="span2">log</h3>
				</div>
				<div class="row" >
					<form class="hidden" id="newReg" action="http://hreader.local/timeline.json?key=NewMedication">
						<span class="span4">
							<input ng-model="meds" placeholder="New Medication">
						</span>
						<span class="span6">
							<fieldset class="span6" data-role="controlgroup" data-type="horizontal">
								<select  name="select-choice-by" id="select-choice-by">
								   <option>Dosage</option>
								   <option value="PO">50 gm</option>
								   <option value="PO">100 gm</option>
								   <option value="TOP">150 mg</option>
								   <option value="TOP">200 mg</option>
								   <option value="PR">300 mg</option>
								   <option value="PR">500 mg</option>
								   <option value="PR">1 g</option>
								</select>
								<select name="select-choice-freq" id="select-choice-freq">
								   <option value="">Frequency</option>
								   <option value="OD">Once daily</option>
								   <option value="BID">2 times a day</option>
								   <option value="TID">3 times a day</option>
								   <option value="QID">4 Times a day</option>
								   <option value="Q2H">Every 2 hours</option>
								   <option value="QH">Every hour</option>
								</select>
								<select name="select-choice-add" id="select-choice-add">
									<option>Special</option>
								   <option value="PRN">As needed</option>
								   <option value="HS">At daytime</option>
								   <option value="QOD">Every other day</option>
								   <option value="AC">Before Meals</option>
								   <option value="PC">After Meals</option>
								</select>
							</fieldset>
							<span class="span2">
								<a class="btn" action="http://hreader.local/timeline.json?key=userData" method="post"><i class="icon-plus"></i></a>
								<a class="btn"  onclick="$('#newReg').hide()" ><i class="icon-remove"></i></a>
							</span>
						</span>
					</form>
				</div>
				<!-- <div class="row" ngChange:false ng-repeat="medication in medications"> -->
				<form action="http://hreader.local/timeline.json?key=MedRegiment" method="post">
					<div class="row  data" ngChange:false ng-repeat="medication in medications">
						<h4 class="titles span4">{{medication.description}}</h4>
						<div class="span1"><img src="images/medication.png"></div>
				    <fieldset data-role="controlgroup" data-type="horizontal">
				         	<input type="radio" name="medDose" id="No-Dose" value="ND" checked="checked" />
				         	<label for="No-Dose">None</label>

				         	<input type="radio" name="medDose" id="Under-dosed" value="UD"  />
				         	<label for="Under-dosed">Less</label>

				         	<input type="radio" name="medDose" id="As-directed" value="AD"  />
				         	<label for="As-directed">As Directed</label>

				         	<input type="radio" name="medDose" id="Over-dosed" value="OD"  />
				         	<label for="Over-dosed">More</label>
				    </fieldset>
					</div>
					<div class="row">
						<div class="span10"></div>
						<span class="span2">
							<input data-role="controlgroup" type="submit" value="submit">
						</span>
					</div>
				</form>
				<hr>
			</article>
			<article>
				<div class="row titles">
					<h2 class="span4">Overall</h2>
					<!--   -->
					<h3 class="span6">levels</h3>
					<h3 class="span2">log</h3>
				</div>
				<!-- <div class="row">
					<form class="hidden" id="newLevel" action="http://hreader.local/timeline.json?key=userData">
						<span class="span4">
							<input ng-model="symptoms" class="span4" placeholder="New Level" ui-reset=" 'Empty' ">
						</span>
						<span class="span6">
							<input type="range" name="slider" id="slider-0" value="5" min="0" max="10" data-highlight="true" />
						</span>
						<span class="span2">
							<a class="btn" action="http://hreader.local/timeline.json?key=userData" method="post"><i class="icon-plus"></i></a>
							<a class="btn"  onclick="$('#newLevel').hide()" ><i class="icon-remove"></i></a>
						</span>			
					</form>
				</div> -->
				<form action="http://hreader.local/timeline.json?key=Levels" method="post" ng-model="pain">
					<div class="row">
						<h4 class="titles span4">Pain*</h4>
						<span class="span6">
							<input type="range" name="slider" id="pain" value="5" min="0" max="10" data-highlight="true" />
						</span>
						<h4 class="span2">{{level.pain.value}}</h4>
					</div>
					<div class="row">
						<h4 class="titles span4">Mood*</h4>
						<span class="span6">
								<input type="range" name="slider" id="mood" value="5" min="0" max="10" data-highlight="true"/>
						</span>
						<h4 class="span2">{{level.mood.value}}</h4>
					</div>
					<div class="row">
						<h4 class="titles span4">Energy Level*</h4>
						<span class="span6">
							<input type="range" name="slider" id="energy" value="5" min="0" max="10" data-highlight="true" />
						</span>
						<h4 class="span2">{{level.energy.value}}</h4>
					</div>
					<div class="row">
						<div class="span10"></div>
						<span class="span2">
							<input data-role="controlgroup" type="submit" value="submit">
						</span>
					</div>
				</form>
				<hr>
			</article>	
			<article ngChange:false ng-repeat="condition in conditions">
			<!-- <article > -->
				<div class="row titles">
					<h2 class="span3">{{condition.description}}</h2>
					<span class="span1"><a class="btn" onclick="$('#newSymp').show()"><i class="icon-plus"></i></a>
					</span>
					<h3 class="span6">Log</h3>
					<h3 class="span2"></h3>
				</div>
				<div class="row">
					<form class="hidden" id="newSymp" action="http://hreader.local/timeline.json?key=ConditionSymptoms">
						<span class="span4">
							<fieldset class="span4" data-role="controlgroup" data-type="horizontal">
								<select name="select-choice-sev" id="select-choice-sev">
								   <option ngChange:false ng-repeat="vital in vitals">{{vital.description}}</option>
								</select>
							</fieldset>
						</span>
						<span class="span2">
							<!-- <a class="btn" action="http://hreader.local/timeline.json?key=userData" method="post"><i class="icon-plus"></i></a> -->
							<a class="btn"  onclick="$('#newSymp').hide()" ><i class="icon-remove"></i></a>
						</span>			
					</form>
				</div>
					<div class="row">
						<h4 class="titles span4">Symptom1*</h4>
						<span class="span6">
							<fieldset class="span6" data-role="controlgroup" data-type="horizontal">
								<select class="" name="select-choice-sev" id="select-choice-sev">
								   <option value="none">Severity</option>
								   <option value="none">None</option>
								   <option value="mild">Mild</option>
								   <option value="moderate">Moderate</option>
								   <option value="severe">Severe</option>
								</select>
								<select class="" name="select-choice-dur" id="select-choice-dur" >
								   <option value="null">Duration</option>
								   <option value="seconds">Seconds</option>
								   <option value="minutes">Minutes</option>
								   <option value="hours">Hours</option>
								   <option value="days">Days</option>
								</select>  
							<fieldset>
						</span>
					</div>
					<div class="row">
						<h4 class="titles span4">Symptom2*</h4>
						<span class="span6">
							<fieldset class="span6" data-role="controlgroup" data-type="horizontal">
								<select name="select-choice-sev" id="select-choice-sev">
								   <option value="none">Severity</option>
								   <option value="none">None</option>
								   <option value="mild">Mild</option>
								   <option value="moderate">Moderate</option>
								   <option value="severe">Severe</option>
								</select>
								<select name="select-choice-dur" id="select-choice-dur" >
								   <option value="null">Duration</option>
								   <option value="seconds">Seconds</option>
								   <option value="minutes">Minutes</option>
								   <option value="hours">Hours</option>
								   <option value="days">Days</option>
								</select>  
							<fieldset>
						</span>
					</div>
					<div class="row">
						<div class="span10"></div>
						<span class="span2">
							<input data-role="controlgroup" type="submit" value="submit">
						</span>
					</div>
				</form>
				<hr>
			</article>		
			<article class="vitals">
				<div class="row titles">
					<h2 class="titles span4">Vitals</h2>
					<h3 class="span6">Trends</h3>
					<h3 class="span2">Result</h3>
				<div class="row data" ngChange:false ng-repeat="vital in vitals">
					<span class="span4">
						<h4>{{vital.description}}</h4>		
					</span>
					<span class="span6 graph">		
						<p><sparkline exp="data" class="sparkline">{{vital.values.join(', ')}}</sparkline></p>
					</span>
					<span class="span2"> 
						<h1>{{vital.values[vital.values.length-1]| number:0}}</h1>{{vital.units}}
					</span>
				</div>
				<hr>
			</article>
		</section>
	</body>
</html>


