
<!doctype html>
<html lang="en" ng-app="Timeline"  ng-controller="YearListCtrl">
	<head>
		<title ng-bind-template="{{query}}"></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="css/jquery-ui-1.8.16.custom.css" type="text/css"/> 
		<link href="lib/bootstrap/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="css/master.css" type="text/css"/> 
		<script type="text/javascript" src="lib/jquery/jquery-1.8.1.js"></script>
	    <script type="text/javascript" src="lib/jquery/jquery.sparkline2.0.js">
	    </script>
	    <script src="lib/ajax/jquery.tmpl.min.js"></script>
	    <script src="lib/angular/angular.js"></script>
	    <script src="js/app.js"></script>
	    <script src="js/controllers.js"></script>
	    <script src="js/directives.js"></script>
	    <script src="js/date.js"></script>
	</head>
	<body >
		<section class="well">
<!-- 			Treatment listings  -->
			<article>
				<div class="titles row">
					<h2 class="span4">Treatment</h2>

					<h3 class="span5">2012</h3>
					<h3 class="span1">2013</h3>
				</div>
				<div class="noData row">
					<h3 class="span3">NO DATA</h3>
				</div>
				<div class="row" div class="row  data" ngChange:false ng-repeat="treatment in treatments">
					<h4 class="titles span4">{{treatment.description}}</h4>
					<div class="progress schedule span6">
						<img src="images/treatment.png" 
							class="diagnosis" 
							ng-style="DecadeOffset(treatment)">
					</div>
				</div>
			</article>
			<hr>
	 		<article ngChange:false ng-repeat="condition in conditions">
				<div class="row titles">
					<h2 class="span3">{{condition.description}}</h2>
					<span class="span1"><a class="btn" onclick="$('#newSymp').show()"><i class="icon-plus"></i></a>
					</span>
					<h3 class="span6">Log</h3>
					<h3 class="span2"></h3>
				</div>
				<div class="row">
					<form class="hidden" id="newSymp" action="http://hreader.local/timeline.json?key=userData">
						<h3 class="span12">Add Vital to Condition</h3>
						<fieldset class="span4" data-role="controlgroup" data-type="horizontal">
							<select name="select-choice-sev" id="select-choice-sev">
							   <option ngChange:false ng-repeat="vital in vitals">{{vital.description}}</option>
							</select>
						</fieldset>
						<span class="span2">
							<a class="btn" action="http://hreader.local/timeline.json?key=userData" method="post"><i class="icon-plus"></i></a>
							<a class="btn"  onclick="$('#newSymp').hide()" ><i class="icon-remove"></i></a>
						</span>			
					</form>
					<!-- <form class="hidden" id="newSymp" action="http://hreader.local/timeline.json?key=userData">
						<span class="span4">
							<fieldset class="span4" data-role="controlgroup" data-type="horizontal">
								<select name="select-choice-sev" id="select-choice-sev">
								   <option ngChange:false ng-repeat="vital in vitals">{{vital.description}}</option>
								</select>
							</fieldset>
						</span>
						<span class="span2">
							<a class="btn" action="http://hreader.local/timeline.json?key=userData" method="post"><i class="icon-plus"></i></a>
							<a class="btn"  onclick="$('#newSymp').hide()" ><i class="icon-remove"></i></a>
						</span>			
					</form> -->
				</div>
				</form>
				<hr>
			</article>	
			<article class="vitals">
				<div class="row titles">
					<h2 class="titles span4">Vitals</h2>
					<h3 class="span5">2012</h3>
					<h3 class="span1">2013</h3>
					<h3 class="span2">Result</h3>
				</div>
				<div class="row data" ngChange:false ng-repeat="vital in vitals">
					<span class="span4">
						<h4>{{vital.description}}</h4>		
					</span>
					<span class="span6 graph">		
						<p><sparkline exp="data" class="sparkline">{{vital.values.join(', ')}}</sparkline></p>
					</span>
					<span class="span2"> 
						<h1>{{vital.values[vital.values.length-1]| number:0}}</h1>{{vital.units}}
					</span>
				</div>
				<hr>
			</article>
		</section>
	</body>
</html>


