h1 {
	font-size: 60px;
	font-weight: 600;
	color: black;
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #AAAAAA;
}

h3 {
	font-size: 17px;
	color: #AAAAAA;
	text-transform: uppercase;
	font-weight: 200;
}


h4, p {
	font-size: 17px;
	font-weight: bold;
	color: black;

}

h1, h4, p {
	vertical-align: baseline;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 60px;
}

h2, h3, .row .span1 {
	line-height: 40px;
	vertical-align: baseline;
	margin-top: 0;
	margin-bottom: 0;
}

.row .span1 {
	margin-top: 0;
	margin-bottom: 0;
}

h1, h2, h3 {
	display: inline-block;
	vertical-align: baseline;
}

.name  {
	font-weight: bold;
	color: black;
	
}

svg {
  font-family: "Helvetica Neue", Helvetica;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}




