img.diagnosis {
    position: relative;
    top: -10px;
}
.graph {
  background-color: #fff;
  margin-bottom: 20px;
}

.schedule {
  overflow: visible;
  margin-top: 10px;

  img {

    margin-top: 0px important;
  }
  div.span1, div.span2 {
    margin-top: -10px;

  }
}

$red: #d60D26;
$green: #048A82;
$green-top-gradient: #56C4C3;


path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
// D3 comments
path {
  stroke: black;
  stroke-width: 1.5;
  fill: none;
}

#sparkline {
  width: 150px;
}

div.spark {
  background-color: #fff;
}

.progress, .spark {
  background-color: #fff;

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
  background-image: -webkit-linear-gradient(top, #fff, #fff);

  -webkit-box-shadow: none; 
 
	.bar {
	  background-color: $green;
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($green-top-gradient), to($green));
	  background-image: -webkit-linear-gradient(top, $green-top-gradient, $green);
	  background-image: linear-gradient(top, $green-top-gradient, $green);
	}
}


.ui-slider .ui-slider-range {
	background-color: $green;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($green-top-gradient), to($green));
	background-image: -webkit-linear-gradient(top, $green-top-gradient, $green);
	background-image: linear-gradient(top, $green-top-gradient, $green);
}

.schedule .progress {
	overflow: visible;
	height: .75em;
	margin-top: 10px;

	img {
		margin-top: -15px;
	}
}