
#time {
	ul{
		padding-left: 0;
		display: inline;
		li {
			display: inline;
			a {
				text-decoration: none;
				color: #ccc;
				border: 1px solid #ccc;
				border-radius: 5px;
				padding: 5px 5px 6px 5px;
			}
			a.active {
				display: inline;
				border: 1px solid #ccc;
				border-radius: 5px;
				padding: 5px;
				color: #fff;
				background-color: #ccc;
			}
		}	
	}
}


.ui-btn-down-c {


	
}

.ui-field-contain div.ui-slider {
}



.ui-btn-corner-all {
	webkit-border-radius: .25em;
	border-radius: .25em;
}

.ui-btn-up-a {
	background-image: -webkit-gradient(linear, left top, left bottom, from( white /*{a-bup-background-start}*/), to( #E6E6E6 /*{a-bup-background-end}*/)) !important;
	background-image: -webkit-linear-gradient( white /*{a-bup-background-start}*/, #E6E6E6 /*{a-bup-background-end}*/) !important;
	background-image: linear-gradient( white /*{a-bup-background-start}*/, #E6E6E6 /*{a-bup-background-end}*/) !important;
}

.ui-btn-down-a {
	border: 1px solid #CCC /*{a-bdown-border}*/ !important;
	background: #D6D6D6 /*{a-bdown-background-color}*/ !important;
	color: #333 /*{a-bdown-color}*/ !important;	
}

.ui-bar, .ui-body {
	clear: none;
}

.ui-slider .ui-slider-range {
 	background-color: #0064CD !important;
}