



input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
	height: 24px !important;
	padding-top: 18px !important;
	padding-bottom: 18px !important;
	line-height: 60px;
	margin-top: 20px;
}