
/*structure*/

.back {
	background-color: #fff !important;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	border: 1px solid #E3E3E3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.background {
	width: 968px;
	border: 1px solid #888;
	border-radius: 10px;
	box-shadow: inset 1px 2px 4px #888;
	overflow:scroll;
	background-color: #fff;
	
	ul{
		padding-left: 0;
		border-bottom: 1px solid #ccc;

		li {
			list-style-type: none;
			padding: 5px;

			span {
				position: relative;
				left: 200px;
			}

			h1 {
				display: inline-block;


			}
			span {
				font-size: 1.5em;
			}
			

			h2 {
				color: #999;
			}

			.label-time {

				span:first-child {
				}
			}

			.label-results {
			
				span:first-child {	
				}
			}

			.result {
				font-size: 3em;
			}
			.measurement {
				font-size: 1em;
				color: #999;
				font-weight: 100;
			}

			.graph {
				background-image: url ('images/graph_bp.png');
			}

		}
	}
}

.row { position: relative; }
.span6, span2, span4, span5 { position: absolute; bottom: 0; }

