.timeline-default {
    font-family: Helvetica, Arial, sans serif;
    font-size: 8pt;
    border: 1px solid #aaa;
}

.tape-special_event, .small-special_event { background-color: orange; }

h2 {
	font-size: 1.4em;
	font-weight: normal;
	padding-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 5px 10px 6px 20px;
  border-right: 1px solid #ccc;
}

h2.even {
	background: #fff;
	padding: 5px 10px 6px 20px;

}
h2.last {
    padding-bottom: 20px;
    
}

.footnotes {
    background: #eee;
    padding: 0.25em;
}

.controls {
    margin: 1em 0;
    padding: 0.5em;
}
.timeline-default {font-family:Helvetica;background-color:white}
.timeline-container {
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-transform: translate3d(0, 0, 0);
}
.timeline-band-layer-inner { overflow:hidden}
.timeline-ether-bg{width:100%; height:100%;}
.timeline-band-0 .timeline-ether-bg{background-color:#fff}
.timeline-band-1 .timeline-ether-bg{background-color:#fff}
.timeline-band-2 .timeline-ether-bg{
	background-color:#EFEEEE;
	border-top: 2px solid #888;
    -webkit-box-shadow: inset 0 -5px -1px rgba(255, 255, 255, .50);
    box-shadow: inset 2px 2px 1px rgba(255, 255, 255, .10);
}
.timeline-band-3 .timeline-ether-bg{background-color:#EFEEEE}
.timeline-band-4 .timeline-ether-bg{background-color:#fff}
.timeline-band-5 .timeline-ether-bg{background-color:#EFEEEE}
.timeline-band-6 .timeline-ether-bg{background-color:#fff}
.timeline-band-7 .timeline-ether-bg{background-color:#EFEEEE}
.timeline-band-8 .timeline-ether-bg{background-color:#fff}
.timeline-band-9 .timeline-ether-bg{background-color:#EFEEEE}
.timeline-band-10 .timeline-ether-bg{background-color:#fff}
.timeline-band-11 .timeline-ether-bg{background-color:#EFEEEE}
.timeline-band-12 .timeline-ether-bg{background-color:#fff}

.timeline-default .timeline-band-0 {
    color: #EFEEEE;
    font-size:14px;
}
.timeline-event-tape,
.timeline-small-event-tape,
.timeline-small-event-icon{
  background-color:#f56768;
  width:2px;
}

.timeline-ether-highlight{
	position:absolute; 
	background-color:#ffffff;

}
.timeline-horizontal .timeline-date-label-em{height:6em;line-height:10em}
#content {
    height: 440px;
    margin:0px 0px 0px 0;
}


div.simileAjax-bubble-contentContainer {
    background: none repeat scroll 0 0 #fff;
    z-index: 5;
}

