h1 {
  text-transform: uppercase;
  color: $black;
  font-weight: 550;
  margin-top: 0px;
}

h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: $headerColor;
  display: inline;
  margin-bottom: 0;
}

h6 {
  margin: 7px;
  line-height: $defaultFontSize;
  font-size: $defaultFontSize;
  color: $headerColor;
  font-weight: 300;
  text-transform: uppercase;
}