body {
  margin: 0;
  text-align: left;
}

.container {
  margin: 20px;
}

.tile {
  width: $tileWidth;
  height: $tileHeight;
  .section-header { width: 100%; }
}

.align-vertical {
  margin-top: 5px;
}

.section-header {
  .logo {
    width: 110px;
    height: 35px;
  }
  color: $defaultColor;
  text-transform: uppercase;
  text-size: 42px;
  border-bottom: 1px solid $defaultColor;
}

.pophealth-result-container {
  @include rounded-border;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid $defaultColor;

  text-align: left;
  margin-left: 5px;
  margin-top: 20px;
  width: $tileWidth;
  height: 40px;
  font-size: 28px;

  .pophealth-result {
    float: right;
    display: inline;
    margin-right: 40px;
    margin-top: 10px;
    color: $headerColor;
  }
}

.sideSummary {
  .logo {
    width: 300px;
    height: 100px;
  }

  .pophealth-result-container { margin-top: 100px; }
  padding: 10px 0;
  position: fixed;
  left: 30px;
  top: 12px;
  bottom: 0px;
  width: 315px;
  font-size:11px;

  .paramGroup {
    margin-top: 100px;
    height: 200px;
    &.pass { background: $successColor; }
    &.fail { background: $errorColor; }
  }
  .paramItem {
    height: 200px;
    overflow: scroll;
  }
}

.patient {
  margin-bottom: 30px;
  p { margin-top: 20px; }
}

.measures {
  overflow: hidden;
  position: absolute;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  top: 50px; 
  bottom: 0px;
  left: 365px;
  right: 0px;
  padding: 0px 10px;
  overflow: auto;
  padding-right: 30px;
}

.paramGroup {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
  background: #ddd;
  @include border-radius($radius);
  padding: 2px 5px 2px 5px;
  display: table;
}

.paramItem {
  background-color: white;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  padding: 1px 4px 4px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.category {
  margin: 10px;
  ul {
    list-style-type: none;
    li {
      padding: 4px;
      font-weight: 900;
    }
  }
  .result {
    @include border-radius(10px);
    position: absolute;
    display: inline;
    margin-left: -30px;
    margin-top: -1.5px;
    padding: 5px;
    width: 10px;
    height: 10px;
  }
  .result-pass { background: $successColor; }
  .result-fail { background: $errorColor; }
}