$defaultColor: #aaa;
$headerColor: #666;
$black: #000;
$white: #fff;

$errorColor: #d60D26;
$successColor: #048A82;
$successGradient: #048A82;

$tileWidth: 296px;
$tileHeight: 200px;

$defaultFontSize: 12px;
$headerFontSize: 30px;

$radius: 7px;