<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.encounters</string>
		<key>class_name</key>
		<string>HREncountersAppletTile</string>
		<key>display_name</key>
		<string>Encounters</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.vitals</string>
		<key>class_name</key>
		<string>HRVitalView</string>
		<key>display_name</key>
		<string>Vital Signs</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.bmi</string>
		<key>class_name</key>
		<string>HRBMIVitalAppletTile</string>
		<key>display_name</key>
		<string>BMI</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.bloodpressure</string>
		<key>class_name</key>
		<string>HRBloodPressureAppletTile</string>
		<key>display_name</key>
		<string>Blood Pressure</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.medications</string>
		<key>class_name</key>
		<string>HRMedicationsAppletTile</string>
		<key>display_name</key>
		<string>Medications</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.immunizations</string>
		<key>class_name</key>
		<string>HRImmunizationsAppletTile</string>
		<key>display_name</key>
		<string>Immunizations</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.functionalstatus</string>
		<key>class_name</key>
		<string>HRFunctionalStatusAppletTile</string>
		<key>display_name</key>
		<string>Functional Status</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.placeholder.tbi</string>
		<key>class_name</key>
		<string>HRImageAppletTile</string>
		<key>display_name</key>
		<string>TBI Tracker</string>
		<key>tile_image</key>
		<string>tbi-tile</string>
		<key>fullscreen_image</key>
		<string>tbi-fullscreen</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.placeholder.fitbit</string>
		<key>class_name</key>
		<string>HRImageAppletTile</string>
		<key>display_name</key>
		<string>fitbit</string>
		<key>tile_image</key>
		<string>fitbit-summary</string>
		<key>fullscreen_image</key>
		<string>fitbit-overview</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.placeholder.nikeplus</string>
		<key>class_name</key>
		<string>HRImageAppletTile</string>
		<key>display_name</key>
		<string>Nike+</string>
		<key>tile_image</key>
		<string>nikeplus-summary</string>
		<key>fullscreen_image</key>
		<string>nikeplus-overview</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.placeholder.withings</string>
		<key>class_name</key>
		<string>HRImageAppletTile</string>
		<key>display_name</key>
		<string>Withings</string>
		<key>tile_image</key>
		<string>withings-summary</string>
		<key>fullscreen_image</key>
		<string>withings-overview</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.placeholder.wakemate</string>
		<key>class_name</key>
		<string>HRImageAppletTile</string>
		<key>display_name</key>
		<string>wakemate</string>
		<key>tile_image</key>
		<string>wakemate-summary</string>
		<key>fullscreen_image</key>
		<string>wakemate-overview</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.placeholder.chronicfatigue</string>
		<key>class_name</key>
		<string>HRImageAppletTile</string>
		<key>display_name</key>
		<string>Chronic Fatigue</string>
		<key>tile_image</key>
		<string>chronic_fatigue_summary</string>
		<key>fullscreen_image</key>
		<string>chronic_fatigue_overview</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.placeholder.lymedisease</string>
		<key>class_name</key>
		<string>HRImageAppletTile</string>
		<key>display_name</key>
		<string>Lyme Disease</string>
		<key>tile_image</key>
		<string>lyme_disease_summary</string>
		<key>fullscreen_image</key>
		<string>lyme_disease_overview</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.placeholder.multiplesclerosis</string>
		<key>class_name</key>
		<string>HRImageAppletTile</string>
		<key>display_name</key>
		<string>Multiple Sclerosis</string>
		<key>tile_image</key>
		<string>multiple_sclerosis_summary</string>
		<key>fullscreen_image</key>
		<string>multiple_sclerosis_overview</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>org.mitre.hreader.placeholder.pophealth</string>
		<key>class_name</key>
		<string>HRImageAppletTile</string>
		<key>display_name</key>
		<string>popHealth</string>
		<key>tile_image</key>
		<string>pophealth-summary</string>
	</dict>
</array>
</plist>
